<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletActualizarListas</servlet-name>
        <servlet-class>servlets.ServletActualizarListas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardaCorreo</servlet-name>
        <servlet-class>servlets.GuardaCorreo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Socioeconomicos</servlet-name>
        <servlet-class>servlets.Socioeconomicos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviaEmailInicio</servlet-name>
        <servlet-class>servlets.EnviaEmailInicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesencriptaCorreo</servlet-name>
        <servlet-class>DesencriptaCorreo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaEstado</servlet-name>
        <servlet-class>servlets.CargaEstado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletActualizarListas</servlet-name>
        <url-pattern>/ServletActualizarListas</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>SendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCatalogos</servlet-name>
        <servlet-class>servlets.ServletCatalogos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/servlet/SendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardaCorreo</servlet-name>
        <url-pattern>/GuardaCorreo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Socioeconomicos</servlet-name>
        <url-pattern>/Socioeconomicos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviaEmailInicio</servlet-name>
        <url-pattern>/EnviaEmailInicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCatalogos</servlet-name>
        <url-pattern>/Datos_Aspirante.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>PrefichaPDF</servlet-name>
        <servlet-class>PrefichaPDF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrefichaPDF</servlet-name>
        <url-pattern>/servlet/PrefichaPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesencriptaCorreo</servlet-name>
        <url-pattern>/DesencriptaCorreo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaEstado</servlet-name>
        <url-pattern>/CargaEstado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
