/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/07/2014, 02:30:13 AM
    Author     : ElyyzZ BaRruEtA
*/


.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 85%;
    list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}
.ui-helper-clearfix:after {
    clear: both;
}

.ui-tabs {
    padding: 0.2em;
    position: relative;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0 0.2em 0;
}
.ui-tabs .ui-tabs-nav li {
    border-bottom-width: 0;
    float: left;
    list-style: none outside none;
    margin: -5px 6px 11px;
    padding: 0;
    position: relative;
    top: 0;
    white-space: nowrap;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 125%;
}

.ui-widget {
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 1.1em;
}

.ui-widget-content {
    /*background: url("images/ui-bg_inset-hard_100_fcfdfd_1x100.png") repeat-x scroll 50% bottom #fcfdfd;*/
    border: 1px solid #a6c9e2;
    color: #222222;
}

.ui-widget-header {
    background: url("../Imagenes/look_and_feel_azul.png") repeat-x scroll 50% 50% #5c9ccc;
    border: 1px solid #4297d7;
    color: #ffffff;
    font-weight: bold;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: url("../Imagenes/line.png") repeat-x scroll 50% 50% #f5f8f9;
    border: 1px solid #79b7e7;
    color: #e17009;
    font-weight: bold;
    font-size: 100%;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #e17009;
    text-decoration: none;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #c5dbec;
    background: #dfeffc url("../Imagenes/line_glass.png") 50% 50% repeat-x;
    font-weight: bold;
    color: #e17009;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: url("../Imagenes/line_inset.png") repeat-x scroll 50% 50% #f5f8f9;
    border: 1px solid #79b7e7;
    color: #e17009;
    font-weight: bold;
}

//esquinas redondeadas 
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 5px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 5px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 5px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 5px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 5px;
}

